<% if flash[:answer_result] %>
  <%= flash[:answer_result] %>
<% end %>

<h1>Q<%= @question.display_order %>: <%= @question.title %></h1>
<%= form_with url: question_answers_path(@question), local: true do |form| %>
 <%= text_area :questions, :answer %>
  <%= form.submit %>
<% end %>
