- if flash[:answer_right]
  %h2.text-success
    ok!!
- if flash[:answer_wrong]
  %h2.text-danger
    ng!!
%h1
  Q#{@question.display_order}
#{@question.content.html_safe}
= form_with url: question_answers_path(@question), local: true do |form|
  = text_area :questions, :answer, class: 'form-control', rows: 3
  %br
  = form.submit "Answer", class: 'btn btn-primary'
