%p#notice= notice
%p
  %strong Title:
  = @question.title
%p
  %strong RightAnswer:
  = @question.right_answer
%p
  %strong DisplayOrder:
  = @question.display_order
= link_to 'Edit', edit_admin_question_path(@question)
|
= link_to 'Back', admin_questions_path
